.banner-card {
  border-radius: 10px;
  user-select: none;
}

.banner-card img {
  border-radius: 10px;
}

.banner-card-info {
  padding: 10px;
  text-align: left;
  right: auto;
  transition: all 0.8s ease 0s;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  left: 30px;
  overflow: hidden;
  padding: 0;
  top: 44px;
  bottom: auto;
}

.banner-card-info .banner-label {
  text-transform: uppercase;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: uppercase;
  margin: 0 0 7px;
}

.banner-card-info .banner-title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  margin: 0;
  font-weight: 300;
  text-transform: inherit;
}

.banner-card-info .banner-subtitle {
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0;
  margin: 0 0 10px;
}

@media (max-width: 1569px) {
  .banner-card-info .banner-subtitle {
    font-size: 28px;
    line-height: 30px;
  }

  .banner-card-info .banner-title {
    font-size: 15px;
  }
}

@media (max-width: 1469px) {
  .banner-card-info {
    left: 23px;
    top: 34px;
  }

  .banner-card-info .banner-label {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 5px;
  }

  .banner-card-info .banner-subtitle {
    font-size: 25px;
    line-height: 26px;
    margin: 0 0 8px;
  }

  .banner-card-info .banner-title {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 1369px) {
  .banner-card-info .banner-subtitle {
    font-size: 22px;
  }

  .banner-card .banner-title {
    font-size: 13px;
  }
}

@media (max-width: 1269px) {
  .banner-card-info {
    left: 20px;
  }

  .banner-card-info .banner-label {
    margin: 0;
  }

  .banner-card-info .banner-subtitle {
    font-size: 18px;
    line-height: 22px;
  }

  .banner-card-info .banner-title {
    font-size: 15px;
  }
}

@media (max-width: 989px) {
  .banner-card-info {
    top: 10px;
    bottom: auto;
  }

  .banner-card-info .banner-label {
    margin: 0 0 5px;
    font-size: 12px;
  }

  .banner-card-info .banner-title {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 749px) {
  .banner-card-info {
    left: 7%;
    top: 6%;
  }
}
