@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


.main {
    padding: 10px;
    margin: 20px auto ;
    height: fit-content;
    width: 95vw;
    display: flex;
    border-radius: 20px;
    border: 2px solid #ddd;
    box-shadow: 1.5px 1.5px #eee, -1em 0 .4em #eee;
}

.subimages{
    width: fit-content;
    height: 100vh;
    margin: 40px 0 0 0 important;
}

.subimages img{
    object-fit: contain;
    width: 100%;

}
.half {
    flex: 1;
}

.mousetrap {
    margin-top: 25px;
    border: solid 1px #eee;
    width: 100%;
    height: fit-content;
}


.big-cams {
    width: 10rem;
    height: 30rem;
    background-color: #eee;
}

#imagemagnify {
    position: relative;
    z-index: 1;
    width: 600px;
    height: 500px;
    z-index: 9999 important;
}

#imagemagnify-2{
    position: relative;
    z-index: 1;
    width: 600px;
    height: 500px;
    z-index: 9999 important;
}

.subimages {
    width: 100%;
    height: 100vh;
}
  #mag {
    position: relative;
    z-index: 999;
    width: 100%;
    height: 100%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
  }

.button {
    margin-left: 10px;
    width: 65px;
    height: 40px;
    padding-top: 7px;
    text-align: center;
    background-color: rgb(252, 229, 229); 
    color: black; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
  }
  
 
  .button:hover {
    background-color: darkgrey; 
  }

.image-cart {
    width: 10rem;
    height: fit-content;
}

.image-cart image {
    width: 100%;
    height: 100%;
}

.infocart {
    margin-left: 50px;
    font-size: 16px;
    width: fit-content;
    height: fit-content;
    padding-top: 15px;
}

#dialogu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -60%);
}
#footer-modal{
    display: flex;
    padding-top: 0.7rem;
    padding-left: 4rem;
    width: 100%;
    height: 4rem;
}
.imgcart {
    width: 100%;
    height: 100%;
}
#button-footer-close {
    padding-top: 0.4rem;
    text-align: center;
    background: #fbbb6b;
    color: black;
    width: 11rem;
    border-radius: 20px;
    height: 2.5rem;
    transition: all 0.3s;
    
}

#button-footer-close:hover {
    background: #242c3c;
    color: white;
}

#save-button-footer {
    padding-top: 0.4rem;
    text-align: center;
    color: white;
    background: #242c3c;
    width: 8rem;
    border-radius: 20px;
    height: 2.5rem;
    transition: all 0.3s;
}

#save-button-footer:hover {
    background: #fbbb6b;
    color: black;
}

.product-cardd {
    width: 100%;
    overflow: hidden;
  }
  
  .product-card img {
    width: 100%;
}

.product-info {
    padding: 15px;
    width: 100%;
    height: fit-content;
  }
  
  .product-title {
    font-size: 18px;
    font-family:   'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
  }

.star {
    color: darkorange;
    font-size: 16px;
}
.rating {
    font-size: 14px;
    color: #ccc;
  }
  
.price {
    font-size: 20px;
    font-family:   'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
  }
  
.writing-rev {
    font-size: 13px;
    text-decoration: none;
    color: #ccc;    
}

.brand-info {
    width: fit-content;
    height: fit-content;

}

.brand-info a{
    text-decoration: none;
    color: #cccc;
}

.brand-info .spans-paragraph span {
    margin-left: 5px;
    font-size: 14px;
    color: #cccc;
}

.brand-info .d-flex{
    margin-bottom: 20px;
}

.brand-info button {
    width: 60px;
    height: 2.5rem;
    margin-left: 5px;
    border: #ccc ;
    background: #F8F8FF;
}

.brand-info button:focus {
    border: solid 1.5px black;
    transition: all 0.5s;
}

.color-section {
    margin-top: 25px;
}


.radio-button {
    display: inline-block;
    margin: 0 2px;
    
  }
  
  .radio-button input[type="radio"] {
    display: none;
  }

  .radio-button label {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #ccc;
    text-align: center;
    cursor: pointer;
  }
  
  .radio-button input[type="radio"]:checked + label {
    background-color: brown;
    transition: all 0.5s;
  }
  
  .radio-button input[type="radio"]:disabled + label {
    background-color: #ddd;
    border-color: #ddd;
    cursor: not-allowed;
  }


  .quantity {
    margin-top: 25px;
    display: flex;
    width: 100%;
    height: fit-content;
}

.plusButton {
    --plus_sideLength: 2.5rem;
    --plus_topRightTriangleSideLength: 0.9rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: var(--plus_sideLength);
    height: var(--plus_sideLength);
    background-color: #fbbb6b;
    overflow: hidden;
  }
  
  .plusButton::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
    border-style: solid;
    border-color: transparent white transparent transparent;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
  }
  
  .plusButton:hover {
    cursor: pointer;
  }
  
  .plusButton:hover::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
  }
  
  .plusButton:focus-visible::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
  }
  
  .plusButton>.plusIcon {
    fill: black;
    width: calc(var(--plus_sideLength) * 0.7);
    height: calc(var(--plus_sideLength) * 0.7);
    z-index: 1;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
  }
  
  .plusButton:hover>.plusIcon {
    fill: black;
    transform: rotate(180deg);
  }
  
  .plusButton:focus-visible>.plusIcon {
    fill: black;
    transform: rotate(180deg);
  }

.button-quan {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.button-quan span {
    margin-left: 15px;
}

.minusButton {
    width: 38px;
    height: 37px;
    background-color: #242c3c; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
  }
  
  .minusButton:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px; 
    background-color: #ffffff; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 
  .minusButton:hover {
    background-color: #fbbb6b;
    transform: scale(10px);
  }
  

.button-quan div {
    margin-left: 20px;
}
.quantity p {
    margin-right: 50px;
}

.bigone {
    width: 70px;
    height: 55px;
    display: flex;
    background-color: #eee;
}

.first-half {
    height: 100%;
    width: 50%;
    padding-top: 10px;
    border: solid 0.1px darkgrey;
    text-align: center;
}

.half-half {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}


.second-25 {
    width: 100%;
    height: 50%;
}

.third-25 {
    width: 100%;
    height: 50%;
}

.half-half input {
    border: solid 0.1px darkgrey;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: transparent;
}

.quantity .buttons {
    margin-left: 10px;
    width: fit-content;
    display: flex;
    height: fit-content;
}

.quantity .buttons button {
    margin-left: 25px;
    width: 8.5rem;
    border-radius: 20px;
}

.quantity .buttons .btn-2 {
    background: #242c3c;
    color: white;
}

.quantity .buttons .btn-2:hover {
    background: #fbbb6b;
    color: black;
    transition: all 0.3s;
}

.quantity .buttons .btn-3 {
    background: #fbbb6b;
}

.quantity .buttons .btn-3:hover {
    background: #242c3c;
    color: white;
    transition: all 0.3s;
}

.Wish {
    margin: 0px 20px 20px 20px;
}

.Wish input {
    margin: 0 5px 0 10px ;
    border: none;
    background: none;
}

.accrdings {
    width: 37rem;
    height: fit-content;
}

.shoppingCar, 
.HEARTSVG, 
.MatrialsSVG, 
.ShareSVG
 {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.share-div {
    width: 100%;
    height: 100%;
    margin-top: 8px;
    margin-left: 15px;
    display: flex;
}

.cards-pay {
    background: #eee;
    padding-top: 30px;
    text-align: center;
    width: 100%;
    height: 10rem;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.cards {
    width: 100%;
    height: fit-content;
    padding: 10px;
    
}

.Visa,
.MasterCard,
.Paypal,
.Discover {
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

.Mark {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.faqs {
    background: #eee;
}


.main-title {
    margin-top: 125px;
}


.desc-main {
    width: fit-content;
    height: 100vh;
} 

.description {
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    padding: 30px;
    width: 100%;
    border-radius: 40px;
    box-shadow: 0 0 10px #0000001a;
    
}

.description p {
    font-size: 13px;
}

.review-title {
    margin-top: 250px;
}

.Reviews-div {
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;

    padding: 40px;
    width: 100%;
    border-radius: 40px;
    box-shadow: 0 0 10px #0000001a;
}

.rating h4 {
    color: #1c1b1b;
    font-size: 15px;
}

.dd p {
    color: #1c1b1b;
}

.write-review {
    margin-left: 50px;
    width: 80% ;
    padding-left: 73%;
    height: fit-content;
    text-decoration: none;
}

.write-review {
    font-size: 13px;
}

.written-review {
    width: 90% ;
    padding-left: 78%;
    font-size: 13px;
    height: fit-content;
    text-decoration: none;
}

.write-review a,
.written-review a {
    text-decoration: grey;
}

.first-section {
    width: 100vw;
    height: 100vh;
}

.first-big {
    text-align: center;
    width: 100%;
    height: 100vh;
}

 #mag{
    width: 100%;
    height: 100%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

@media (max-width: 1100px) {
    .main{
        flex-wrap: wrap;
        
    }
    .quantity p {
        margin-right: 10px;
    }
    .quantity .buttons {
        margin-left: 2px;
    }
    
    .quantity .buttons button {
        width: 7.5rem;
        margin-left: 2px;
    }
    .written-review {
        width: 90% ;
        padding-left: 0;
    }
    .write-review {
        margin-left: 0px;
        padding-left: 40%;
    }
}
@media (min-width: 670px) {
    .accrdings{
        max-width: 100%;
    }

}
/* @media (max-width:995px) {

} */
.first-section{
    width: 60rem;
}



.button {
    --background: #fbbb6b;
    --text: black;
    --cart: #fbbb6b;
    --tick: var(--background);
    position: relative;
    border: none;
    background: red;
    padding: 8px 28px;
    border-radius: 8px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    min-width: 144px;
    color: var(--text);
    background: var(--background);
    transform: scale(var(--scale, 1));
    transition: transform .4s cubic-bezier(.36, 1.01, .32, 1.27);
    &:active {
        --scale: .95;
    }
    span {
        font-size: 14px;
        font-weight: 500;
        display: block;
        position: relative;
        padding-left: 24px;
        margin-left: -8px;
        line-height: 26px;
        transform: translateY(var(--span-y, 0));
        transition: transform .7s ease;
        &:before,
        &:after {
            content: '';
            width: var(--w, 2px);
            height: var(--h, 14px);
            border-radius: 1px;
            position: absolute;
            left: var(--l, 8px);
            top: var(--t, 6px);
            background: currentColor;
            transform: scale(.75) rotate(var(--icon-r, 0deg)) translateY(var(--icon-y, 0));
            transition: transform .65s ease .05s;
        }
        &:after {
            --w: 14px;
            --h: 2px;
            --l: 2px;
            --t: 12px;
        }
    }
    .cart {
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -13px 0 0 -18px;
        transform-origin: 12px 23px;
        transform: translateX(-120px) rotate(-18deg);
        &:before,
        &:after {
            content: '';
            position: absolute;
        }
        &:before {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            box-shadow: inset 0 0 0 2px var(--cart);
            bottom: 0;
            left: 9px;
            filter: drop-shadow(11px 0 0 var(--cart));
        }
        &:after {
            width: 16px;
            height: 9px;
            background: var(--cart);
            left: 9px;
            bottom: 7px;
            transform-origin: 50% 100%;
            transform: perspective(4px) rotateX(-6deg) scaleY(var(--fill, 0));
            transition: transform 1.2s ease var(--fill-d);
        }
        svg {
            z-index: 1;
            width: 36px;
            height: 26px;
            display: block;
            position: relative;
            fill: none;
            stroke: var(--cart);
            stroke-width: 2px;
            stroke-linecap: round;
            stroke-linejoin: round;
            polyline {
                &:last-child {
                    stroke: var(--tick);
                    stroke-dasharray: 10px;
                    stroke-dashoffset: var(--offset, 10px);
                    transition: stroke-dashoffset .4s ease var(--offset-d);
                }
            }
        }
    }
    &.loading {
        --scale: .95;
        --span-y: -32px;
        --icon-r: 180deg;
        --fill: 1;
        --fill-d: .8s;
        --offset: 0;
        --offset-d: 1.73s;
        .cart {
            animation: cart 3.4s linear forwards .2s;
        }
    }
}

@keyframes cart {
    12.5% {
        transform: translateX(-60px) rotate(-18deg);
    }
    25%,
    45%,
    55%,
    75% {
        transform: none;
    }
    50% {
        transform: scale(.9);
    }
    44%,
    56% {
        transform-origin: 12px 23px;
    }
    45%,
    55% {
        transform-origin: 50% 50%;
    }
    87.5% {
        transform: translateX(70px) rotate(-18deg);
    }
    100% {
        transform: translateX(140px) rotate(-18deg);
    }
}



.accordion-item {
    border: none;
    border-bottom:  0.4px solid #dadada ;
}
.accordion-header {
    border: none;
}
.accordion-header button {
    background: none;
    border: none;
}
