.filter-box {
  padding: 16px 20px;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 0 10px #0000001a;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  background: white;
  margin-bottom: 20px;
}

.filter-box .filter-box-title {
  color: #1c1b1b;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-transform: capitalize;
  letter-spacing: 0.8px;
  margin-bottom: 10px;
}

.filter-box .filter-box-body .category {
  width: 100%;
  padding: 2px 0;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 15px;
  color: #777777;
}

.gap-12 {
  gap: 12px;
}

.filter-box .filter-box-body .price .textInput {
  padding: 5px 8px 5px;
  flex: 1 1 0%;
  max-width: 70px;
  font-size: 12px;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 5px;
  outline: none;
}

.filter-box .filter-box-body .price .to,
.go {
  color: rgb(118, 120, 126);
  text-transform: uppercase;
  font-size: 0.923077rem;
  font-weight: 500;
  margin: 0px 10px;
  background: transparent;
  border: none;
  outline: none;
}

.filter-box .filter-box-body .price .go-active {
  color: #f08804;
}

.filter-box .filter-box-body .stock {
  font-size: 14px;
}

.filter-box .filter-box-body .rate .rang-lable {
  color: rgb(56, 102, 223);
  font-size: 14px;
}

.filter-box .clear {
  font-weight: 500;
  font-size: 15px;
  padding-right: 10px;
  color: rgb(56, 102, 223);
  text-transform: lowercase;
}
