.Container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
    gap: 20px;
    width: 90%;
    margin: auto;
    .card {
        padding: 15px;
        width: 240px;
        min-height: 250px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        p{
            font-size: 19px;
            text-align: start;
            overflow: hidden;
            pointer-events: visible;
        }
        .item {
            display: flex;
            align-items: center;
            cursor: pointer;
            border-radius: 10px;
            margin: 10px 0 10px 10px ;
            img {
                width: 100px;
                height: 100px;
                object-fit: cover;
                mix-blend-mode: multiply;
            }
        }
        .item:hover {
            background-color: rgba(233, 226, 226, 0.144);
        }
        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
        }
        #speicalImg {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width:950px) {
    .Container {
        grid-template-columns: 1fr;
        /* grid-auto-flow: row; */
        grid-auto-columns: auto;
        width: 60%;
        .card {
            margin-bottom: 10px;
            width: 100%;
        }

        #firstCard {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .item {
                display: flex;
                flex-direction: column;
            }
        }
    }

    #c {
        display: none;
    }
}