:root {
  --main-color: #131921;
  --secound-color: #232f3e;
  --button-color: #f6bd69;
  --button-color-hover: #fbcb83;
  --color-3-hover: #ff9b18;
  --color-3: #f08804;
}

img {
  object-fit: cover;
}

.container {
  max-width: 1710px;
  padding: 0 15px;
}

@media (max-width: 1269px) {
  .container {
    max-width: 990px;
  }
}

@media (max-width: 749px) {
  .page-width {
    max-width: 100%;
    padding: 0 10px;
  }
}

@media (max-width: 989px) {
  .container {
    max-width: 750px;
  }
}

.swiper-auto {
  width: auto;
}

.loder-container {
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: inherit;
}
.successImg{
  width: 200px;
  mix-blend-mode: multiply;
}
.backkhara{
  background-color: #f4f3f3;
  /* min-height: calc(100vh - 400px); */
  mix-blend-mode: multiply;
}
.successdiv{
  padding: 140px 0;
}
.btn-2 {
  color: white !important;
  padding: 4px 17px;
  margin-top: 10px  ;
  background: #fbae50;
}

.btn-2:hover {
  background: #516288;
  color: black;
  transition: all 0.3s;
}