.product-card {
  box-shadow: 0 0 10px #0000001a;
  border-radius: 10px;
  background: #fff;
  cursor: pointer;
}

.product-img {
  height: 70%;
}

.product-img img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
}

.product-info {
  padding: 5px 20px 10px;
  text-align: left;
  position: relative;
  overflow: hidden;
  float: left;
  width: 100%;
}

.product-info .product-brand {
  color: #bf4800;
  line-height: 24px;
  font-weight: 400;
  margin: 0 0 12px;
}

.product-info .product-title {
  font-size: 15px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.3px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
  margin: 0 0 14px;
}

.product-info .product-rate {
  margin-bottom: 12px;
}

.card-icon {
  padding: 5px;
  transition: 0.3s;
}

.card-icon:hover {
  background-color: #fbcb83;
}

@media (min-width: 750px) {
  .product-hover .hide {
    position: relative;
    opacity: 0;
    right: -18px;
    top: 0;
    transition: all 0.4s ease 0s;
  }

  .product-card:hover .product-hover .hide {
    opacity: 1;
    right: 0;
  }
}

@media (max-width: 750px) {
  .card-icon {
    width: 28px;
    margin-bottom: 0 !important;
  }

  .product-hover {
    right: -5px !important;
  }

  .product-info .product-brand {
    font-size: 13px;
    margin: 0 0 10px;
  }

  .product-info .product-title {
    font-size: 15px;
    line-height: 20px;
    margin: 0 0 5px;
  }

  .product-info .product-rate {
    margin-bottom: 10px;
  }

  .product-info .product-price {
    font-size: 16px;
    padding-bottom: 8px;
  }
}
